/* S.Sheta 2025 
/* Text buttons, icon buttons, input fields, toggles, etc */

.action-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

button {
    background: var(--neutral);
    border: none;
    color: var(--text);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
    filter: drop-shadow(2px 2px 2px var(--shadow-color));
}

button:hover {
    background: var(--transparent-grey);
    filter: none;
}

.text-button {
    font-size: 0.95rem;
    padding: 6px 12px;
}

.icon-button {
    width: 36px;
    height: 36px;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-button.active {
    background: var(--transparent-grey);
}

.icon-button.small {
    padding: 0px;
    margin: 0px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    user-select: none;
}

.icon-button svg {
    width: 20px;
    height: 20px;
}

.toggle-track {
    width: 30px;
    height: 12px;
    background-color: var(--neutral2-transparent);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    padding: 0px;
    filter: drop-shadow(2px 2px 2px var(--shadow-color));
}

.toggle-track.on {
    background-color: var(--primary-transparent);
}

.toggle-head {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.1s;
    pointer-events: none;
    filter: drop-shadow(0px 0px 2px var(--shadow-color));
    transform: translateX(-1px);
}

.toggle-track.on .toggle-head {
    transform: translateX(15px);
    background-color: var(--primary);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--text);
    gap: 8px;
}

select {
    padding: 6px 10px;
    border-radius: 6px;
    background-color: var(--neutral);
    color: var(--text);
    font-size: 0.9rem;
    cursor: pointer;
    transition: border 0.2s ease;
    filter: drop-shadow(2px 2px 2px var(--shadow-color));
}

select:hover,
select:focus {
    background: var(--transparent-grey);
}

body.dark select:hover,
body.dark select:focus {
    background: #333333;
}

input {
    text-overflow: ellipsis;
}